<div id="generate" class="button">New Game<div id="spinner"></div></div>
<div id="description">In this game, you will be given 9 letters. You have 3 minutes to find as many words as you can using only these letters. Words must be at least 3 letters long. If you are given more than one copy of a letter, acceptable words cannot contain more than the number of copies of that letter. The complete word list is the <a href='https://en.wikipedia.org/wiki/Collins_Scrabble_Words'>SOWPODS corpus</a>.</div>
