<!doctype html>
<html>
<head>
  <title>Words</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="words, word game">
  <meta name="description" content="Look for words that use the given letters.">
  <link rel="shortcut icon" href="data:image/png;base64,">
  <%= assets(:css) %>
</head>
<body>
  <%= yield %>
  <%= assets(:js) %>
</body>
</html>
