<div id="content">
  <div id="interact">
    <div id="board"></div>
    <div id="start" class="button">START</div>
    <input type="text" />
    <div id="invalid"></div>
    <div id="score"></div>
    <div id="numwords"></div>
  </div>
  <div id="list">
    <div id="timer"></div>
    <div id="words"></div>
    <div id="generate" class="button">New Game<div id="spinner"></div></div>
  </div>
</div>
<template id="cell"
  ><div></div
></template>
<template id="word"
  ><div
    ><span class="word"></span
    ><span class="score"></span
  ></div
></template>
