html, body {
  margin: 0;
  text-align: center;
  overflow: hidden;
  height: 100% }
.button {
  display: inline-block;
  font-size: xx-large;
  margin: 1em 0 .5em;
  border: 1px solid black;
  padding: .3em .8em;
  border-radius: .2em;
  cursor: pointer }

#spinner {
  display: inline-block;
  height: .8em;
  width: .8em;
  margin: 0 0 -.15em .7em;
  border-radius: .8em;
  box-shadow: inset 0 0 0 .15em #fff;
  border: 2px solid;
  border-color: #090 #cc0 #cc0 #090;
  background: linear-gradient(-45deg, #090, #090 50%, #cc0 50%, #cc0);
  animation: spinner 1s infinite linear }
@keyframes spinner {
	0% { transform: rotateZ(0deg) }
	100% { transform: rotateZ(360deg) } }
:not(.loading) > #spinner {
  display: none }

#content {
  display: flex;
  flex-flow: row wrap;
  height: 100% }
#content > * {
  flex: 1 }
#board {
  display: grid;
  width: calc(6em + 20px);
  margin: 0 auto;
  padding: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-size: xx-large }
#board > * {
  background: #ccc;
  border-radius: .5em;
  width: 2em;
  height: 2em;
  line-height: 2em }
.active > #start, .completed > #start,
:not(.active) > input,
:not(.active) > #invalid,
:not(.completed) > #score,
.active > #numwords,
:not(.completed) + #list > #generate {
  display: none }
#score {
  font-size: xx-large }
#list {
  height: 100% }
#words {
  text-align: left;
  padding: 0;
  height: calc(100% - 9em);
  overflow-x: auto;
  overflow-y: hidden;
  margin: 1em;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start }
#words > * {
  margin-right: 1em }
.word {
  margin-right: .8em }
#list > #generate {
  position: fixed;
  bottom: 1em;
  right: 1em }
#timer {
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: .5rem }
